<div class="column notification is-success is-three-quarters">
    <h3>Chatee con otras personas</h3>
    
    <label for="nombre">Ingrese su nombre:</label>
    <input class="input is-warning is-medium" type="text" id="nombre" style="margin-top: 15px" />
    <label for="texto">Ingrese un mensaje:</label>
    <input class="input is-warning is-medium" type="text" id="texto" style="margin-top: 15px" />
    <button id="enviar" class="button is-success is-light" style="margin-top: 15px">
        Enviar
    </button>
    <div style="margin-top: 15px" id="messages"></div>
</div>